<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Patidar High School</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="http://webthemez.com" />

    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="static/css/jcarousel.css" rel="stylesheet" />
    <link href="static/css/flexslider.css" rel="stylesheet" />
    <link href="static/css/style.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="pull-left hidden-xs">Patidar High school</p>
                        <p class="pull-right"><i class="fa fa-phone"></i>Tel No. +91 7987511398</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="static/img/patidar_.jpg " height="80"
                                alt="logo" />PATIDAR HIGH SCHOOL</a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">Home</a></li>

                            <li class="active"><a href="courses.html">About us </a></li>
                            <li><a href="portfolio.html">Campus</a></li>

                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header><!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="pageTitle">About us</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container content">
                <!-- Service Blcoks -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="about-logo">
                            <h3>About Us <span class="color"></span></h3>
                            <p>The Patidar High School offer co-educational Primary Education ,To provide holistic
                                education that seeks to realize every student’s potential and enriches the community
                                around it
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Info Blcoks -->
                <div class="row">
                    <div class="col-sm-4 info-blocks">
                        <i class="icon-info-blocks fa fa-bell-o"></i>
                        <div class="info-blocks-in">
                            <h3>School Philosophy </h3>
                            <p>The Patidar High School believe that schools must be vibrant centres of learning. Which
                                is why education is not limited to academic excellence, but also extends to life
                                enriching fields like music and sport</p>
                        </div>
                    </div>
                    <div class="col-sm-4 info-blocks">
                        <i class="icon-info-blocks fa fa-hdd-o"></i>
                        <div class="info-blocks-in">
                            <h3>Code of Conduct </h3>
                            <p>All staff members of the Patidar High School will conduct themselves with integrity in
                                their public and private lives. They will lead by example. Teachers will attend to their
                                duties with care and commitment, be punctual in attendance, be dignified in their
                                behaviour and will fulfill the responsibilities given to them by the school authorities.
                                They will abide by the rules and regulations of the school and be a role model for
                                students and community
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 info-blocks">
                        <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                        <div class="info-blocks-in">
                            <h3>Child Safety policy</h3>
                            <p>At every school, we ensure that our Child Safety policy is followed. At school, children
                                need a safe, secure and comfortable environment to learn to the best of their
                                capability. This means they should feel safe enough to effectively interact with their
                                teachers and classmates. Safety at Patidar High Schools is top priority</p>
                        </div>
                    </div>
                </div>
                <!-- End Info Blcoks -->



                <!-- End Info Blcoks -->
                <div class="row service-v1 margin-bottom-40">
                    <div class="col-md-4 md-margin-bottom-40">
                        <img class="img-responsive" src="static/img/img1.jpg" alt="">
                        <h3>Members</h3>

                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="static/img/img2.jpg" alt="">
                        <h3>Building</h3>

                    </div>
                    <div class="col-md-4 md-margin-bottom-40">
                        <img class="img-responsive" src="static/img/img3.jpg" alt="">
                        <h3>Library</h3>

                    </div>
                </div>
                <!-- End Service Blcoks -->

                <div class="row service-v1 margin-bottom-40">
                    <div class="col-md-4 md-margin-bottom-40">
                        <img class="img-responsive" src="static/img/img4.jpg" alt="">
                        <h3>Lab</h3>

                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="static/img/img5.jpg" alt="">
                        <h3>Prayer</h3>

                    </div>
                    <div class="col-md-4 md-margin-bottom-40">
                        <img class="img-responsive" src="static/img/img6.jpg" alt="">
                        <h3>Water</h3>

                    </div>
                </div>
                <!-- End Service Blcoks -->




            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 class="widgetheading">Our Contact</h5>
                            <address>
                                <strong>Patidar High School</strong><br>
                                JC Main Road, Near Silnile tower<br>
                                Pin-21542 NewYork US.</address>
                            <p>
                                <i class="icon-phone"></i> +91 7987511398 <br>
                                <i class="icon-envelope-alt"></i> aaryanghanshyam@gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 class="widgetheading">Quick Links</h5>
                            <ul class="link-list">
                                <li><a href="#">Latest Events</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright">
                                <p>
                                    <span>&copy; All right reserved. <br /></span> This <a
                                        href="http://webthemez.com/free-bootstrap-templates" target="_blank">Free
                                        Bootstrap </a> provided by WebThemez.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ul class="social-network">
                                <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li><a href="#" data-placement="top" title="Pinterest"><i
                                            class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" data-placement="top" title="Google plus"><i
                                            class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.fancybox-media.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script src="js/animate.js"></script>
    <!-- Vendor Scripts -->
    <script src="js/modernizr.custom.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/animate.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>